.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .logo {
    height: 32px;   
    margin: 16px 16px 15px 16px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #1890ff
  }

  nz-layout {
      height: 100vh;
  }
  nz-header {
    background: #fff;
    padding: 0;
    border-bottom: 1px solid #d7dee9;
  }

  nz-content {
    margin: 16px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  .inner-content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
  }

  nz-footer {
    text-align: center;
  }

  nz-sider {
      background: #fff;
      border-right: 1px solid #d7dee9;
  }

  .ant-menu-inline {
    border-top: 1px solid #d7dee9;
  }
  
  .user-area {
    float: right; margin-right:24px;
  }

  .user-area span {
      margin-right: 16px;
  }